body {
    margin: 0;
    padding: 0;
}

.main {
    width: 40vw;
    height: 40vw;
}
.vr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #000;
}
